/* lato-regular - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local(''), url('../fonts/lato-v23-latin-regular.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */ url('../fonts/lato-v23-latin-regular.woff')
      format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* lato-700 - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local(''), url('../fonts/lato-v23-latin-700.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */ url('../fonts/lato-v23-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* lato-900 - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 900;
  src: local(''), url('../fonts/lato-v23-latin-900.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */ url('../fonts/lato-v23-latin-900.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

.html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.body {
  font-family: 'Lato';
  font-style: normal;
  font-size: 16px;
  line-height: 1.2;
  font-weight: normal;
  color: #102746;
}

img {
  max-width: 100%;
  height: auto;
}

.wrapper {
  max-width: 1060px;
  margin: 0 auto;
}

.wrapperFull {
  max-width: 1262px;
  margin: 0 auto;
}

.sectionTitle {
  font-weight: 500;
  font-size: 35px;
  line-height: 42px;
  position: relative;
  padding-bottom: 10px;
}

.sectionTitle::after {
  display: block;
  content: '';
  width: 253px;
  height: 3px;
  background-color: #006dfe;
  position: absolute;
  left: 0;
  bottom: 0;
}
/* header styles start */

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  transition: 0.2s linear;
  padding-bottom: 20px;
  z-index: 999;
}

.headerActive {
  background: #0e1d28;
}

.headerWrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: space-between;
  padding-top: 56px;
}

.headerList {
  display: flex;
  flex-wrap: wrap;
}

.headerItem {
  margin-right: 82px;
}

.headerItem:last-child {
  margin-right: 0;
}

.headerLink {
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
  text-decoration: none;
}

.headerLink:hover,
.headerLink:focus,
.headerLink:active {
  opacity: 0.75;
}

/* header styles end */

/* Intro styles start */
.intro {
  min-height: 100vh;
  background: url(../img/Hero.jpg) no-repeat center;
  background-size: cover;
  padding-top: 263px;
  padding-bottom: 223px;
}
.introTitle {
  font-weight: 500;
  font-size: 50px;
  line-height: 60px;
  max-width: 619px;
  color: #ffffff;
  margin-bottom: 22px;
}

.introSubTitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  max-width: 546px;
  margin-bottom: 59px;
}

.searchFormInfo {
  display: flex;
  flex-wrap: wrap;
}

.searchFormField {
  width: 297px;
  background: transparent url(../img/svg/Oval.svg) no-repeat left 6px;
  background-size: 20px;
  border: 0;
  border-bottom: 2px solid #bfc0c5;
  margin-right: 60px;
  padding-left: 43px;
  padding-bottom: 22px;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
}

.searchFormField::placeholder {
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
}

.searchFormSubmit {
  padding: 15px 39px;
  text-transform: uppercase;
  font-size: 24px;
  line-height: 29px;
  color: #ffffff;
  background: #1b7dff;
  border: 0;
}
.searchFormSubmit:hover,
.searchFormSubmit:focus,
.searchFormSubmit:active {
  background-color: #1262ce;
}

/* Intro styles end */

/* Benefits Styles start */
.benefits {
  margin-bottom: 131px;
}

.benefitsWrap {
  max-width: 1262px;
  background-color: #fff;
  margin: 0 auto;
  box-shadow: 0px 2px 20px rgba(21, 24, 36, 0.15993);
  position: relative;
}

.benefitsTitle {
  width: 270px;
  font-weight: 500;
  font-size: 35px;
  padding: 93px 892px 88px 100px;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(-100%);
  background-color: #fff;
}

.benefitsCards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 55px;
  padding: 0px 100px;
}

.benefitsCard {
  grid-column: span 1;
  margin-bottom: 112px;
}

.benefitsCardPic {
  max-width: 66px;
  margin-bottom: 37px;
}

.benefitsCardThumb {
  display: block;
}

.benefitsCardTitle {
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 26px;
}

.benefitsCardDesc {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 39px;
}

.benefitsCardMore {
  display: inline-block;
  padding-right: 59px;
  font-size: 16px;
  line-height: 24px;
  color: #006dfe;
  text-decoration: none;
  background: url(../img/svg/arrow\ shape.svg) no-repeat 95% center;
  transition: 0.2s all;
}

.benefitsCardMore:hover,
.benefitsCardMore:focus {
  background: url(../img/svg/arrow\ shape.svg) no-repeat right center;
  opacity: 0.65;
}

/* Benefits Styles end */

/* Places Styless start */
.places {
  margin-bottom: 131px;
}

.placesCaption {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 36px;
}
.placesTitle {
  margin-right: 15px;
}

.placesViewAll {
  display: inline-block;
  padding-right: 59px;
  font-size: 16px;
  line-height: 24px;
  color: #006dfe;
  text-decoration: none;
  background: url(../img/svg/arrow\ shape.svg) no-repeat 95% center;
  transition: 0.2s all;
}

.placesViewAll:hover,
.placesViewAll:focus {
  background: url(../img/svg/arrow\ shape.svg) no-repeat right center;
  opacity: 0.65;
}

.placesCards {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 10px;
}

.placesCard {
  position: relative;
  overflow: hidden;
}

.placesCard::after {
  display: block;
  content: '';
  width: 100%;
  height: 100%;
  background: rgba(21, 24, 36, 0.4);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

.placesCard:hover .placesCardPic {
  transform: scale(1.05);
}

.placesCardTitle {
  font-weight: 700;
  font-size: 50px;
  line-height: 60px;
  color: #ffffff;
  position: absolute;
  bottom: 27px;
  left: 29px;
  z-index: 3;
}

.placesCardSizeLg {
  grid-column: span 3;
}

.placesCardSizeSm {
  grid-column: span 2;
}

.placesCardPic {
  width: 100%;
  height: 100%;
  transition: 0.2s all;
}

.placesCardPicSizeLg {
  height: 354px;
  object-fit: cover;
}

.placesCardPicSizeSm {
  height: 283px;
  object-fit: cover;
}

.placesCardLink {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 4;
}
/* Places Styles end */

/* 
<!-- Tours start --> */
.tours {
  margin-bottom: 139px;
}

.toursTour {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 0px 108px;
  align-items: center;
  margin-bottom: 77px;
}

.tourInfo {
  padding-left: 47px;
}

.tourTitle {
  font-weight: 500;
  font-size: 30px;
  line-height: 40px;
  color: #102746;
  margin-bottom: 85px;
}

.tourDesc {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #102746;
  margin-bottom: 58px;
}

.tourMore {
  display: inline-block;
  padding-right: 59px;
  font-size: 16px;
  line-height: 24px;
  color: #006dfe;
  text-decoration: none;
  background: url(../img/svg/arrow\ shape.svg) no-repeat 95% center;
  transition: 0.2s all;
}

.tourMore:hover,
.tourMore:focus {
  background: url(../img/svg/arrow\ shape.svg) no-repeat right center;
  opacity: 0.65;
}
/* <!-- Tours end --> */

/* Top start */
.top {
  margin-bottom: 86px;
}

.topTitle {
  margin-bottom: 54px;
}

.topCards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 57px;
}

.topCard {
  display: flex;
  flex-direction: column;
}

.topCardPic {
  position: relative;
  margin-bottom: 45px;
}

.topCardStats {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 329.5px;
  background: rgba(21, 24, 36, 0.6);
  padding: 16px 25px;
}

.topCardTitle {
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
  margin: 0 auto 0 0;
}

.topCardLikes {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  padding-right: 20px;
  background: url(../img/svg/Heart.svg) no-repeat right;
  margin-right: 14px;
}

.topCardComment {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  padding-right: 23px;
  background: url(../img/svg/Comment.svg) no-repeat right;
}

.topCardDesc {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #102746;
  margin-bottom: 31px;
}

.topMore {
  width: 80px;
  padding: 12px 19px;
  font-size: 16px;
  color: #ffffff;
  text-decoration: none;
  background: #006dfe;
  margin: auto 0 0 0;
}

.topMore:hover,
.topMore:focus,
.topMore:active {
  background-color: #1262ce;
}
/* Top end */

/* Videos style starts */
.videos {
  width: 100%;
}

.videosWrapper {
  max-width: 1262px;
  margin: 0 auto;
  position: relative;
}

.videoItem {
  padding-top: 56.25%;
}

.videoElement {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/* Videos style end */

/* Footer styles start */
.footer {
  background: #0e1d28;
  padding: 119px 0px;
}

.footerItem {
  display: flex;
  flex-wrap: wrap;
}

.footerLogo {
  width: 50%;
}

.footerNav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 50%;
}

.footerMenuTitle {
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
}

.footerMenuLink {
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #ffffff;
  text-decoration: none;
}

.footerMenuLink:hover,
.footerMenuLink:focus,
.footerMenuLink:active {
  opacity: 0.75;
}
/* Footer styles end  */
